
h1{
	color:rgb(24, 20, 83);
	font-style: italic;
	font-size: xx-large;
	font-weight: 400;
	font-family: fantasy;
	text-align: center;
	
	}
h2{
	color:antiquewhite;
	text-decoration: line-through;
	font-size: 400%;
}
p{
	color:hotpink;
	font-style: italic;
	text-transform: capitalize;
	word-spacing: 10px;
	line-height: 3;
	text-align: center;
}
#social{
	color: peru;
}

img{
	color: silver;
}
a[href="https://twitter.com/Roopshr90263033?s=08"]{
	color:ivory;
}
a[href="https://www.github.com/Roopshree6902"]{
	color:lightblue;
}
a[href="https://www.facebook.com/roop.shree.982"]{
	color:lightpink;
}
a[href="https://stackovrflow.com/users/14098586/roopshree-udaiwal" ]{
	color:lightslategrey;
}
a[href="https://www.linkedin.com/in/roopshree-udaiwal-2831031b5"]{
	color:rgb(116, 116, 187);
}
h3{
	color:khaki;
}
a:hover{
	color: red;
}
p::first-line{
	color:black;
	font-style: italic;
}
body{
	background-color: rgb(187, 171, 182);
	padding: 20px;
	
	border-spacing: 60px;
	border-radius: 10px;
}
